<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div align="center">
    <form th:action="@{/user/new}" th:object="${user}" method="post">
        <br/> Name:
        <input type="text" th:field="*{name}"/>
        <br/> Surname:
        <input type="text" th:field="*{surname}"/>
        <br/> Department:
        <input type="text" th:field="*{department}"/>
        <br/> Salary:
        <input type="text" th:field="*{salary}"/>
        <br/>
        <input type="submit" value="Сохранить"/>
    </form>
</div>
</body>
</html>